
.titleSection{
    height: 40px; width: 100%;
    margin-top: 24px;
    display: flex;
    margin-bottom: 22px;
 
 }
 
 .contentName{
     font: normal normal normal 30px/40px Galmuri11;
     color: aquamarine;
 }
 
 .contentText {
     font: normal normal normal 18px Galmuri11;
     color:aquamarine;
     margin-left: 20px;
     margin-top: 14px;
 }
 
 .cardContainer {
     width: 1600px; height: 100%;
     display: flex; flex-wrap: wrap;
     /* justify-content: space-between; */
     align-content: flex-start;
 
 }
 
 .card{
     width: 780px; height: 355px;
     display: flex;
     cursor: pointer;
     margin-bottom: 20px;
     margin-right: 20px;
     border: 2px solid aquamarine;
 }
 
 
 .cardImage {
     width: 410px; height: 355px;
     /* background-color: aquamarine; */
     overflow: hidden;
     display: flex;
     justify-content: center;
 }
 
 .cardImage img {
     height: 100%;
 }
 
 .cardContent {
     width: 370px;
     display: flex;
     padding: 55px 40px 30px 40px;
     flex-direction: column;
     justify-content: space-between;
 }
 
 .textBox {
     
 }
 .cardContent .cardTitle {
     font: normal normal normal 22px Galmuri11;
     color: aquamarine;
     margin-bottom: 67px;
 }
 
 .cardContent .cardSmallText {
     font: normal normal normal 16px Galmuri11;
     color: aquamarine;
     line-height : 26x;
 }
 
 .moreButton {
     height: 30px;
     font: normal normal normal 16px Galmuri11;
     color: aquamarine;
     border: 1PX solid aquamarine;
     align-self: flex-end;
     margin-top: 30px;
     padding-left: 15px;
     padding-right: 15px;
     line-height: 24px;
     cursor: pointer;
     
 }
 
 .moreButton:hover {
     color: #2B2B2B;
     background-color: aquamarine;
 }
 
 .iconContainer{
     display: flex;
     flex-direction: row;
 }
 
 .iconContainer .icon {
     margin-right: 20px;
 }
 
 .iconContainer .icon .none {
     display : none;
     margin-right: 0px;
 }